*{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        list-style: none;
}
body{
  font-family: "Montserrat", sans-serif;
  background: #441978;
  min-height: 100vh;
  display: grid;
  place-items: center;
  line-height: 1.6;
}
main{
        width: 36rem;
}
main h2{
        color: white;
        font-size: 2rem;

}
main p{
        margin-bottom: 2rem;
        color: white;
}
menu{
        display: flex;
        flex-direction: column;
        gap: 1rem;
}
li{
        display: flex;
        flex-direction: column;
        background:#fba1bf;
        padding: 1.2rem;
        cursor: pointer;
        border: solid 1px #ffff;
        box-shadow: 4px 4px 9px #f30253;
}
li.open{
        background:transparent;
}
li.open * {
        color:white;
}
li div{
        display: flex;
        gap: 1.2rem;
        align-items: center;
}
li small{
        margin-top: 1rem;
        font-size: 0.9rem;
        margin-left: 2.3rem;
        margin-right: 2.3rem;
}
